@import "tailwindcss";

@theme {
    --color-BrandBlack: #121212;
    --color-BrandBlack2: #2a2e34;
    --color-BrandGary: #9AA0A6;
    --color-BrandWhite: #f5f7fa;
    --color-BrandOrange: #FF7A18;
    --color-BrandOrange2: #75492a;
    --color-BrandGreen: #4FA85D;
}