@import "tailwindcss";

@theme {
    --color-BrandBlack: #121212;
    --color-BrandBlack2: #2a2e34;
    --color-BrandGray: #9AA0A6;
    --color-BrandGray2: #4b5157;
    --color-BrandWhite: #f5f7fa;
    --color-BrandOrange: #FF7A18;
    --color-BrandOrange2: #75492a;
    --color-BrandGreen: #4FA85D;
}

@font-face {
    font-family: 'Manrope';
    src: url('/src/assets/fonts/Manrope-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'DmSans';
    src: url('/src/assets/fonts/DmSans-Regular.ttf') format('truetype');
}

@theme {
    --font-Manrope: Manrope, sans-serif;
    --font-DmSans: DmSans, sans-serif;
}

/* Custom Scrollbar Styling */
/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: rgba(18, 18, 18, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FF7A18 0%, #ff8d3d 100%);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ff8d3d 0%, #FF7A18 100%);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
    background: #FF7A18;
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: rgba(18, 18, 18, 0.1);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FF7A18 rgba(18, 18, 18, 0.1);
}